body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    color: white;
    background: black;
}

.top {
    font-size: 50px;
    margin: auto;
}

a {
    color: aquamarine;
    font-size: 16px;
}

.middle {
    font-size: 42px;
    font-weight: 300;
}

.norm {
    font-size: 21px;
    color: grey;
}

footer {
    color: grey;
    text-align: right;
    font-size: 16px;
}
